* {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

html,
body {
  height: 100%;
}

li {
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
}
img{
  border-radius: 30px;
}

.adjust1 {
  position: absolute;
  top: 450px;
  left: 50px;
  list-style: none;
}

.coverletter {
  position: absolute;
  top: 150px;
  text-align: center;
  
  right : -800px;
  width: 30%;
  height: 20%;
  border-style: solid;
  border-color: rgb(246, 246, 246);
  border-radius: 10%;
  background-color: rgb(237, 236, 236);
  z-index: 1;
}
.personal {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgb(245, 235, 198);
  z-index: 0;
}

.career {
  display: flex;
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: beige;
  right: 0px;
  z-index: 1;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 70%;
  z-index: 0;
}

.pic {
  position: relative;
  height: 300px;
  width: 240px;
  margin-top: 50px;
  left: 150px;
  z-index: 1;
}

.vPic {
  position: absolute;
  height: 300px;
  width: 240px;
  margin-top: 50px;
  left: 150px;
  z-index: 0;
}


.name {
  position: absolute;
  display: inline-block;
  top: 370px;
  left: 150px;
}

.addressbox {
  display: flex;
  justify-content: space-between;

  width: 500px;
}
.address {
  font-size: 25px;
}

.handy {
  display: flex;
  justify-content: space-between;
}

.email {
  display: flex;
  justify-content: space-between;
}



.test {

  position: absolute;
  top: 200px;
  right:130px;
  width: 800px;
  border: none;
  font-family: "Lato";
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  animation: nothing;
}

.sprache {
  position: absolute;
  top: 370px;
  margin-left: 30px;
}

.ability {
  position: relative;
  top: 370px;
  width: 200px;
  height: 200px;
  left: 281px;
  margin-left: 30px;
}

.intersted {
  position: absolute;
  top: 365px;
  width: 200px;
  height: 200px;
  left: 550px;
  margin-left: 50px;
}

.intro {

  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url(intro.png);
  animation: introCurtain 5s ease-in-out forwards;
}
/* 
.intro_RLCuration{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  background-image: url(right_Curtain.png);
  z-index: 5;
  animation: RightCuratain 4s ease-in-out forwards;

}
.intro_RCuration{
  position: absolute;
  height: 100%;
  width: 50%;
  right: 50%;
  z-index: 5;

  background-image: url(left_Curtain.png);
  animation: LeftCuratain 4s ease-in-out forwards;
  
} */

@keyframes hahaha {
  from {
    left: 150px;
    transform: rotate(0);

  }

  to {
    left: 330px;
    transform: rotate(15deg);


  }
}

@keyframes nothing {
  from {
    left: 330px;
    transform: rotate(15deg);


  }
  to {
    left: 150px;
    transform: rotate(0);


  }
}

@keyframes thisIsIt {
  from {
    top : 200px;
  }
  to {
    top: 50px;
  }



}

@keyframes coverLetterShowing {

  from { 
    right : -200px;


  }
  
  to {

    right : 300px;
  }
}



@keyframes introCurtain {
  from{ top: 0px;

  }

  to {
    top: -1000px;

  }
}

/* 
@keyframes LeftCuratain{
  from { left: ?

  }

  to {
    left: -200px

  }
}

@keyframes RightCuratain{

  from{
    right: ?;


  }

  to {
    right: -200px;

  }

} */